@import play.Play

@trackingID = @{
    Play.application().configuration().getString("tracking.analytics.trackingID")
}

@coreMetricsTrackingID = @{
    Play.application().configuration().getString("tracking.analytics.coreMetricsTrackingID")
}

@coreMetricsTrackingTrueFalse = @{
Play.application().configuration().getString("tracking.analytics.coreMetricsTrackingTrueFalse")

}

@coreMetricsTrackingURL = @{
Play.application().configuration().getString("tracking.analytics.coreMetricsTrackingURL")
}

<script id="analytics" src="@routes.Assets.versioned("application/javascripts/vendor/analytics.js")" data-tracking-id="@trackingID" type="text/javascript"></script>


<script type="text/javascript" src="//libs.de.coremetrics.com/eluminate.js"></script> <script type="text/javascript">cmSetClientID("@coreMetricsTrackingID|OEPP","@coreMetricsTrackingTrueFalse","@coreMetricsTrackingURL","gov.uk");</script>

